# Starter pipeline




# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- azure-pipelines.yml

pool:
  pool:
  name: Default
  demands:
    - Agent.Name -equals HPV

steps:
- checkout: self

# Build DVWA image
- script: docker build -t dvwa .
  displayName: 'Run a one-line script'
- task: AccuKnox-SAST@3
  inputs:
    accuknoxEndpoint: 'cspm.demo.accuknox.com'
    accuknoxToken: '$(azure_token)'
    accuknoxLabel: 'azaspm'
    softFail: true

