trigger:
- azure-pipelines.yml

# FIX 1: Corrected Pool syntax
pool:
  name: Default
  demands:
    - Agent.Name -equals HPV

steps:
- checkout: self


- task: accuknox-iac@2
  inputs:
    accuknoxEndpoint: '$(accuknox_endpoint)'
    accuknoxToken: '$(azure_token)'
    accuknoxLabel: '$(accuknox_label)'
    inputSoftFail: true
