# Starter pipeline




# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- azure-pipelines.yml

pool:
  pool:
  name: Default
  demands:
    - Agent.Name -equals HPV

steps:
- checkout: self

# Build DVWA image
- task: AccuKnox-SAST@3
  inputs:
    accuknoxEndpoint: 'cspm.demo.accuknox.com'
    accuknoxToken: '$(azure_token)'
    accuknoxLabel: 'azaspm'
    softFail: true

- task: accuknox-iac@2
  inputs:
    accuknoxEndpoint: '$(accuknox_endpoint)'
    accuknoxToken: '$(azure_token)'
    accuknoxLabel: '$(accuknox_label)'
    inputSoftFail: true

- task: AccuKnox-Container-Scan@2
  inputs:
    imageName: 'dvwa'
    tag: 'latest'
    accuknoxEndpoint: '$(accuknox_endpoint)'
    accuknoxToken: '$(azure_token)'
    accuknoxLabel: '$(accuknox_label)'
    inputSoftFail: true
- task: accuknox-secret-scan@2
  inputs:
    accuknoxEndpoint: '$(accuknox_endpoint)'
    accuknoxToken: '$(azure_token)'
    accuknoxLabel: '$(accuknox_label)'
    inputSoftFail: true

- task: AccuKnox-DAST@2
  inputs:
    targetURL: http://testhtml5.vulnweb.com
    scanType: full
    accuknoxEndpoint: $(accuknox_endpoint)
    accuknoxToken: $(azure_token)
    accuknoxLabel: $(accuknox_label)