# Starter pipeline




# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- azure-pipelines.yml

pool:
  pool:
  name: Default
  demands:
    - Agent.Name -equals HPV

steps:
- checkout: self

# Build DVWA image
- script: |
    docker build -t dvwa .
  displayName: "Build DVWA Docker Image"

# Run DVWA
- script: |
    docker run -d -p 8080:80 --name dvwa dvwa
    sleep 30
  displayName: "Run DVWA Container"

# Verify DVWA is running
- script: |
    curl -I http://localhost:8080
  displayName: "Verify DVWA is Up"

# Show running containers
- script: |
    docker ps
  displayName: "List Running Containers"
- task: AccuKnox-SAST@3
  inputs:
    accuknoxEndpoint: 'cspm.demo.accuknox.com'
    accuknoxToken: '$(azure_token)'
    accuknoxLabel: 'azaspm'
    softFail: true

- task: accuknox-iac@2
  inputs:
    accuknoxEndpoint: '$(accuknox_endpoint)'
    accuknoxToken: '$(azure_token)'
    accuknoxLabel: '$(accuknox_label)'
    inputSoftFail: true

- task: AccuKnox-Container-Scan@2
  inputs:
    imageName: 'dvwa'
    tag: 'latest'
    accuknoxEndpoint: '$(accuknox_endpoint)'
    accuknoxToken: '$(azure_token)'
    accuknoxLabel: '$(accuknox_label)'
    inputSoftFail: true
- task: accuknox-secret-scan@2
  inputs:
    accuknoxEndpoint: '$(accuknox_endpoint)'
    accuknoxToken: '$(azure_token)'
    accuknoxLabel: '$(accuknox_label)'
    inputSoftFail: true

- script: |
    docker rm -f dvwa || true
    docker run -d -p 8080:80 --name dvwa dvwa
    sleep 30
  displayName: "Run DVWA Application"

- script: |
    curl -I http://localhost:8080
  displayName: "Verify DVWA is Running"

# --------------------------------------------------
# DAST – OWASP ZAP (WITH HOST NETWORK)
# --------------------------------------------------
- script: |
    docker run --rm --network=host \
      -v $(System.DefaultWorkingDirectory):/zap/wrk \
      zaproxy/zap-stable zap-baseline.py \
      -t http://localhost:8080 \
      -J zap-report.json \
      -I
  displayName: "DAST – OWASP ZAP Scan"

# --------------------------------------------------
# Verify ZAP Report
# --------------------------------------------------
- script: |
    ls -l zap-report.json
  displayName: "Verify ZAP Report Exists"

- task: AccuKnox-DAST@2
  inputs:
    targetURL: 'http://localhost:8080'
    maxScanDurationInMins: '2'
    accuknoxEndpoint: '$(accuknox_endpoint)'
    accuknoxToken: '$(azure_token)'
    accuknoxLabel: '$(accuknox_label)'
    inputSoftFail: true
    
