trigger:

- azure-pipelines.yml

pool:
  name: Default
  demands:
    - Agent.Name -equals HPV

steps:
- checkout: self
- task: AccuKnox-Container-Scan@2
  inputs:
    imageName: 'nginx'
    tag: 'latest'
    accuknoxEndpoint: '$(accuknox_endpoint)'
    accuknoxToken: '$(azure_token)'
    accuknoxLabel: '$(accuknox_label)'
    inputSoftFail: true
