trigger:
- azure-pipelines.yml

pool:
  name: Default
  demands:
    - Agent.Name -equals HPV

steps:
- checkout: self
- task: Docker@2
  displayName: "Push DVWA to Docker Hub"
  inputs:
    containerRegistry: 'azdocker'
    repository: 'vanishaparwal/dvwa-test'
    command: 'buildAndPush'
    Dockerfile: '**/Dockerfile'
    tags: 'latest'


- task: AccuKnox-Container-Scan@2
  inputs:
    imageName: 'dvwa-test'
    accuknoxEndpoint: '$(accuknox_endpoint)'
    accuknoxToken: '$(azure_token)'
    accuknoxLabel: '$(accuknox_label)'
    inputSoftFail: true
